<!DOCTYPE html>
<html>

<head>
    <title>Login page - SOS-SmithAndJones</title>
    <%- include('../../layout/header.ejs') %>
</head>

<body>
    <%- include('../../layout/nav.ejs') %>

    

    <div class="container">
        <div class="text-center mt-5">
            <h1>Nouveau ticket d'incident</h1>
            <p>Entrez votre problème et l'assistance fera son possible pour le régler</p>
        </div>

        <% if (Object.keys(errors).length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <h5>Erreur(s) :</h5>
            </ul>
            <ul>
                <% for(var i=0; i < errors.length; i++) { %>
                <li><%= errors[i].msg %></li>
                <% } %>
            </ul>
        </div>
        <% } %>

        <form action="" method="POST" class="mt-5 mb-5 col-md-6 offset-md-3" encType="multipart/form-data">
            <div class="form-group">
                <label for="title">Titre *</label>
                <input type="text" class="form-control" name="title" id="title" required>
            </div>
            <div class="form-group">
                <label>Poste concerné *</label>
                <select name="id_computer" id="id_computer" class="form-control" required>
                    <option value="">...</option>
                    <% for(let row of workplace) { %>
                    <option value="<%= row.ID_poste %>"><%= row.CODE %></option>
                    <% } %>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description *</label>
                <textarea name="description" id="" rows="3" class="form-control" required></textarea>
            </div>

            <div class="form-group">
                <label for="file">Pièce jointe (optionnelle)</label>
                <input type="file" name="URL" id="URL" class="form-control-file">
            </div>
            <div class="form-group">
                <label for="urgency">Urgence</label>
                <select name="priority" id="priority" class="form-control" required>
                    <option value="">...</option>

                    <% for (let row of priority) {%>
                        <option value="<%= row.id_priorite %>"><%= row.num_priorite %> <%= row.label_priorite %></option>
                    <% } %>
                </select>
            </div>
            <div class="form-group">
                <label for="">Catégorie *</label>
                <select name="category" id="category" class="form-control" required>
                    <option value="">...</option>
                    <option value="logiciel">Logiciel</option>
                    <option value="default">Messagerie</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-dark form-control" value="Valider" name="send">
            </div>
        </form>
    </div>


    <%- include('../../layout/footer.ejs') %>
</body>

</html>